/* Home.css */

.hero {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
  
.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}
  
.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}
  
.btn {
    background-color: #ffffff;
    color: #007bff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
  
.btn:hover {
    background-color: #007bff;
    color: #ffffff;
}
  
.highlights {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}
  
.highlights h3 {
    font-size: 28px;
    margin-bottom: 30px;
}
  
.highlight-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
  
  .box {
    background-color: white;
  }